body { z-index: 1; }

.navbar { 
	z-index: 1001;
	position:fixed;
	top:0;
	width:100%;
	background-color:#fff;
}

.tooltip-detail {
	padding: 3px;
	margin-top: 3px;
}

.tooltip-detail:first-child {
	margin-top: 3px;	
}

.tooltip-label {
	/*font-weight: 600;*/
	color: #F5A62C;
}

.tooltip-value {
	font-size: 1.2em;
}

.leaflet-interactive {
	stroke:#CE7D0A;
	fill: #F5A62C;
}