<div class="row">
    <div class="col-xs-8 col-xs-push-2" style="margin: 2em 0">

        <h2>About</h2>

        <p>The State as the sovereign owner of mineral lands and resources has the power and authority to enter into agreement with contractors  for the exploration and extraction of natural resources.  These transactions are documented in the form of contracts, agreements, permits and leases. These are important documents that specify the duties and responsibilities of the government and the contractor, payments required and due, as well as the expected benefits of the communities hosting the extractive operations.</p>

        <p>While full-text contracts are public documents, these are not readily available to the public. Requesting these from companies and government agencies may require official requests and authorizations.  Easy access is not always guaranteed.</p>

        <p>PH-EITI aims to improve transparency in the extractive sector through the publication of mining, oil and gas contracts between the Philippine government and its contractors.  These documents are downloadable and made available in open formats to make research and analysis easier for users. Contract annexes and other supporting documents are also published to increase the user's understanding of the contracts. </p>

        <p>Moving forward, guidance notes to understanding contracts will be published to enable more citizens to comprehend key concepts of these documents. With the online publication of these contracts, it is expected that citizens will be empowered to seek greater accountability from the government and the extractive sector.</p>

    </div>
</div>
