<div class="row">
    <div class="col-xs-8 col-xs-push-2" style="margin: 2em 0">
        <h2>Contact Us</h2>
        <div class="row">
            <div class="col-md-6">
                <br>

                <h4>PH-EITI Secretariat</h4>

                <p>Address: 5/F DOF Bldg. BSP Complex, Roxas Blvd. Pasay City</p>

                <p>Telephone: <a href="tel:+6325250487">+632-525-0487</a></p>

                <p>Email: <a href="mailto:info@ph-eiti.org">info@ph-eiti.org</a> or <a href="mailto:eitiphilippines@gmail.com">eitiphilippines@gmail.com</a></p>

                <br>

                <h4>For news and updates, follow us on:</h4>

                <p>Twitter: <a href="https://twitter.com/ph_eiti" target="_blank">@ph_eiti</a></p>

                <p>Facebook: <a href="https://www.facebook.com/PhilippineEITI" target="_blank">facebook.com/eitiphilippines</a></p>


            </div>

            <div class="col-md-6">
                <br>

                <form onsubmit="contactFormSubmit(this)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" class="form-control" placeholder="Message" required style="min-height: 100px"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default"/>
                    </div>
                    <div class="form-group form-message"></div>
                </form>
            </div>
        </div>



    </div>
</div>
