<div class="row">
    <div class="col-xs-8 col-xs-push-2" style="margin: 2em 0">

        <h2>Contact Us</h2>

        <br>

        <h4>PH-EITI Secretariat</h4>

        <p>Address: 5/F DOF Bldg. BSP Complex, Roxas Blvd. Pasay City</p>

        <p>Telephone: <a href="tel:+6325250487">02-525-0487</a></p>

        <p>Email: <a href="mailto:info@ph-eiti.com">info@ph-eiti.com</a></p>

        <br>

        <h4>For news and updates, follow us on:</h4>

        <p>Twitter: <a href="https://twitter.com/ph_eiti">@ph_eiti</a></p>

        <p>Facebook: <a href="https://www.facebook.com/PhilippineEITI">facebook.com/eitiphilippines</a></p>


    </div>
</div>
