<div class="row row-top-wrap front-row-top-wrap">
    <div  class="col-lg-9 col-md-9" >
        <div class="row row-top-content">
            <div class="tagline" onclick="window.location.href = '/contracts'">
                An open database of
                <span style="font-size: 1.5em;line-height:1.2em;">Mining, Oil and Gas Contracts in the Philippines</span>
                <!-- <br/>
                <strong style="text-transform: uppercase">Explore</strong> -->
            </div>

            <a href="/contracts" class="btn btn-cta">Explore</a>

            <br>

            <form action="search" method="GET" class="contract-search-form">
                <span class="search-text">Browse by company name or search by contract type, contract number, <br/>commodity, signature date or location</span>
                <div class="form-group" style="margin-top:0.8em;">
                    <input type="text" name="q" class="form-control pull-left" 
                        placeholder="Search type, contract name or location..."
                        style="background-color: #fff;color:#333">
                    <button type="submit" class="btn btn-search">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row row-content"
    style="background-color:#03212b;">
    <div class="col-sm-3 col-md-3 col-lg-4 box-3-main">
        <div
            class="box-3"
            id="box-timeline"
            title="View Contract Timeline"
            onclick="javascript:window.location.href='http://contracts-eiti.dof.gov.ph/images/infographic/PH-EITI-Base_Timeline.pdf'">
        </div>
        <a href="http://contracts-eiti.dof.gov.ph/images/infographic/PH-EITI-Base_Timeline.pdf" 
            target="_blank" 
            class="btn btn-view-box" >View Contract Timeline</a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-4 box-3-main" >
        <div 
            class="box-3"
            id="box-cc"
            title="View Location of Operations per Region"
            style="background-image: url('/images/infographic/4.png')"
            ng-click="openRegions()">
        </div>
        <a href="" 
            class="btn btn-view-box" 
            ng-click="openRegions()">View Location of Operations per Region</a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-4 box-3-main">
        <div
            class="box-3"
            id="box-map"
            title="View Location of Operations"
            onclick="javascript:window.location.href='http://contracts-eiti.dof.gov.ph/images/infographic/Contract_Map_v3.pdf'">
        </div>
        <a href="http://contracts-eiti.dof.gov.ph/images/infographic/Contract_Map_v3.pdf"
            target="_blank" 
            class="btn btn-view-box" >View Location of Operations</a>
    </div>
    <!-- <div class="col-sm-6 col-md-6 col-lg-6 country-wrapper" style="min-height: 500px;">
        <div class="country-wrap">
            <div class="country-inner-wrap contract-count-home" style="font-size: 30px; line-height: 35px;">
               Browse by company name or search by contract type, <br>contract number, commodity, signature date or location
            </div>
            <p style="font-size: 18px; color: #fff; padding-right: 17em;">
                This site is constantly being updated. Currently, you may view {{rootData.total}} contracts of EITI participating companies.
            </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 resource-wrapper" style="min-height: 500px;">
        <div class="slider-infographic">
            <div style="background-image: url('/images/infographic/1.png')">
                <a href="http://contracts-eiti.dof.gov.ph/images/infographic/PH-EITI-Base_Timeline.pdf" target="_blank" class="btn btn-view" style="padding: 6px 18px 6px 18px">View Contract Timeline</a>
            </div>
            <div style="background-image: url('/images/infographic/2.png')">
                <a href="http://contracts-eiti.dof.gov.ph/images/infographic/Contract_Map_v3.pdf" target="_blank" class="btn btn-view" style="padding: 6px 18px 6px 18px">View Location of Operations</a>
            </div>
            <div style="background-image: url('/images/infographic/4.png')">
                <a href="" class="btn btn-view" style="padding: 6px 18px 6px 18px" ng-click="openRegions()">View Location of Operations per Region</a>
            </div>
        </div>
    </div> -->
</div>
