<div class="row row-top-wrap front-row-top-wrap">
    <div  class="col-lg-7 col-md-9" >
        <div class="row row-top-content">
            <div class="tagline">
                An open database of
                <span>Mining, Oil and Gas Contracts in the Philippines</span>
                <br/>
                <strong style="text-transform: uppercase">Now Available!</strong>
            </div>
            <form action="search" method="GET" class="contract-search-form">
                <div class="form-group">
                    <input type="text" name="q" class="form-control pull-left" placeholder="Type here to search for contracts...">
                    <button type="submit" class="btn btn-search">Search Contracts</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row row-content">
    <div class="col-sm-6 col-md-6 col-lg-6 country-wrapper">
        <div class="country-wrap">
            <div class="country-inner-wrap contract-count-home">
                {{data.total}} Mining, Oil & Gas Contracts
                <!--
                18 Provinces
                45 Municipalities
                -->
            </div>
            <!--
            <a href="tries" class="btn btn-view">View all contracts</a>
            -->
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 resource-wrapper">
        <div class="resource-wrap">
            <div class="resource-inner-wrap">
                <p style="font-size: 16px; text-transform: none; margin: 1em;">
                    Browse by company name or search by contract type, contract number, commodity, signature date or location
                </p>

                <p style="font-size: 16px; text-transform: none; margin: 1em;">
                    Find out more about the activities of the extractive industries in the country
                </p>
            </div>
            <!--
            <a href="http://rc-site-stage.elasticbeanstalk.com/rc/public/resources" class="btn btn-view">View all resources</a>
            -->
        </div>
    </div>
</div>
