<h2>Location of Operations per Region</h2>
<div class="row" style="font-size: 22px;">

    <br>

    <div class="col-md-6">
        <p><a target="_blank" href="images/pdf/CARAGA.pdf">CARAGA</a></p><p><a target="_blank" href="images/pdf/Regional_CAR.pdf">CAR</a></p>

        <p><a target="_blank" href="images/pdf/Regional_Region2.pdf">Region 2</a></p>

        <p><a target="_blank" href="images/pdf/Regional_Region3.pdf">Region 3</a></p>

        <p><a target="_blank" href="images/pdf/Regional_Region4B.pdf">Region 4B</a></p>


    </div>

    <div class="col-md-6">
        <p><a target="_blank" href="images/pdf/Regional_Region5.pdf">Region 5</a></p>

        <p><a target="_blank" href="images/pdf/Regional_Region7.pdf">Region 7</a></p>

        <p><a target="_blank" href="images/pdf/Regional_Region8.pdf">Region 8</a></p>

        <p><a target="_blank" href="images/pdf/Regional_Region9.pdf">Region 9</a></p>

        <p><a target="_blank" href="images/pdf/Regional_Region11.pdf">Region 11</a></p>
    </div>

</div>
