<div class="row">
    <div class="col-xs-8 col-xs-push-2" style="margin: 2em 0">

        <h2>Related Links</h2>

        <br>

        <div class="row related-links-container">
            <div class="col-md-4" style="text-align: center;">
                <a href="https://www.doe.gov.ph/" target="_blank">
                    <img src="images/related-links/doe.jpg" alt="">
                    <p>Department of Energy</p>
                </a>
            </div>

            <div class="col-md-4" style="text-align: center;">
                <a href="http://www.dof.gov.ph/" target="_blank">
                    <img src="images/related-links/dof.png" alt="">
                    <p>Department of Finance</p>
                </a>
            </div>

            <div class="col-md-4" style="text-align: center;">
                <a href="http://www.mgb.gov.ph/" target="_blank">
                    <img src="images/related-links/mgb.jpg" alt="">
                    <p>Mines and Geosciences Bureau</p>
                </a>
            </div>

        </div>


    </div>
</div>
