<div class="row">

    <div class="col-lg-12 panel-top-wrapper search-top-wrapper">
        <div class="panel-top-content">
            <div class="pull-left">
                <div class="panel-title">
                    Search results for <span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="contract-number-wrap contract-search-number-wrap">
        <span>{{data.total}}</span> Contracts
    </div>
</div>

<div class="row">
    <div class="col-lg-12 country-list-wrapper search-list-wrapper">
        <div class="panel panel-default panel-wrap country-list-wrap">
            <div class="panel-body">

                <table class="table table-responsive table-contract table-contract-list">
                    <tbody>
                        <tr ng-repeat="(i, v) in data.results"><td><a href='contract/{{v.contract_id}}'>{{v.contract_name}}</a></td></tr>

                    <!--
                        <tr>
                        <td>
                            <a class="title-1061" href="http://rc-site-stage.elasticbeanstalk.com/rc/public/contract/1061/view">
                                Kazakhstan Falcon O&amp;G Zhakarmy West I Block Exploration Contract
                            </a>

                            <div class="annotate-text"> Annotated </div>

                            <div class="search-text">
                                period during <strong>test</strong> production should be delivered to
                                Kazakhstani oil refineries
                                <strong>test</strong>

                            </div>
                            <div class="contract-info-section">
                                <div class="download-main-wrap">
                                    <div class="download-wrap">
                                        <span>Download</span>
                                    </div>

                                    <ul class="dropdown-menu">
                                        <li><a href="http://rc-site-stage.elasticbeanstalk.com/rc/public/contract/1061/downloadpdf" >Pdf</a></li>
                                        <li><a href="http://rc-site-stage.elasticbeanstalk.com/rc/public/contract/1061/download" >Word File</a></li>
                                    </ul>
                                </div>
                                <div class="contract-group">
                                    <label for="">Found in: </label>
                                    <a>Text</a>
                                    <a>Annotation</a>
                                </div>
                            </div>
                            <div class="resource-contract-list">
                                <div class="resource-type">
                                    <label for="">Resource: </label>
                                </div>
                                <div class="contract-type">
                                    <label for="">Contract Type:</label>Exploration Permit/License
                                </div>
                            </div>
                        </td>
                        <td>2007</td>
                        <td>
                            Kazakhstan
                        </td>

                    </tr>
                    -->

                    </tbody>
                </table>

                <!--
                <div class="text-center">
                    <div class="pagination-wrapper">
                        <ul>



                            <li class="active"><a href="javascript:void()">1</a></li>

                            <li><a href="http://rc-site-stage.elasticbeanstalk.com/rc/public/search?q=test&amp;page=2">2</a></li>
                            <li><a href="http://rc-site-stage.elasticbeanstalk.com/rc/public/search?q=test&amp;page=3">3</a></li>
                            <li><a href="http://rc-site-stage.elasticbeanstalk.com/rc/public/search?q=test&amp;page=4">4</a></li>
                            <li><a href="http://rc-site-stage.elasticbeanstalk.com/rc/public/search?q=test&amp;page=5">5</a></li>


                            <li class="num-text next">
                                <a href="http://rc-site-stage.elasticbeanstalk.com/rc/public/search?q=test&amp;page=2">Next</a>
                            </li>
                            <li class="num-text"><a href="http://rc-site-stage.elasticbeanstalk.com/rc/public/search?q=test&amp;page=5">Last</a></li>
                        </ul>

                    </div>

                </div>
                -->
            </div>
        </div>
    </div>
</div>
