.navbar-header .trigger {
  background-color: none;
  height: auto;
  width: auto;
  margin: 18px 0 0 16px;
  background: none;
}
.navbar-header .trigger > span {
  display: block;
  background-color: #000;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  opacity: 0.7;
  margin-bottom: 4px;
}
.sidebar-nav > .sidebar-brand a,
.sidebar-nav > .sidebar-brand a:hover {
  background-image: url("/images/ic-title-bg.png");
}
a {
  color: #eeb301;
}
a:hover {
  color: #fabc01;
}
footer {
  color: rgba(255,255,255,0.5);
  padding: 3em 1em;
  font-size: 14px;
  line-height: 1.75em;
  font-family: Open-Sans-Light, sans-serif;
}
footer a {
  color: rgba(250,188,1,0.8);
}
footer a:hover {
  color: #fabc01;
}
.link-no-style {
  color: rgba(255,255,255,0.5);
}
.navbar-right {
  border-left: 0;
  padding-right: 1em;
}
.navbar-right li {
  margin-top: 2px;
}
.navbar-right li:hover {
  background: none;
}
.navbar-right a {
  color: rgba(0,0,0,0.75);
}
.tagline:hover {
  cursor: pointer;
}
.btn-cta {
  background-color: #f37356;
  color: #fff;
  padding: 1em 2em;
  border-radius: 100px;
  margin-bottom: 2em;
  font-size: 1.25em;
}
.contract-search-form .form-control,
.btn-search,
.btn-search:hover,
.btn-search:focus {
  height: 46px;
  font-size: 18px;
}
.contract-search-form .form-control {
  background: rgba(255,255,255,0.2);
}
.row-content > div[class*=col-lg] > div {
  padding-top: 100px;
}
.resources-mining:hover {
  cursor: pointer;
}
.resources,
select[name="resource"] option,
.select2-results__option {
  text-transform: capitalize;
}
.search-input-wrapper .col-lg-2 {
  margin-bottom: 0;
}
.search-page-input-wrapper {
  padding-top: 2em !important;
}
.search-list-wrapper td ul {
  margin-top: 0;
}
.search-no-result,
.search-loading {
  font-size: 2em;
  margin-top: 40px;
  margin-left: 50px;
}
.table-contract td,
.table-contract td a,
.table-contract ul li {
  font-size: 16px !important;
}
.table-contract td a {
  font-family: open-sans-bold;
}
.table-contract tr th:first-child {
  padding-left: 48px;
}
.search-result-wrapper {
  overflow-y: scroll;
}
.sidebar-collapse {
  z-index: 100;
}
.sortorder:after {
  content: '\25b2';
  font-size: 10px;
  padding-left: 0.5em;
}
.sortorder.reverse:after {
  content: '\25bc';
  font-size: 10px;
  padding-left: 0.5em;
}
th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
th a:hover {
  cursor: pointer;
}
th {
  white-space: nowrap;
}
.related-links-container img {
  max-width: 180px;
  height: 100px;
  margin-bottom: 1em;
}
.slider-infographic > div {
  background: url("") no-repeat top center;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slider-infographic > div > .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f37356;
  font-size: 1.5em;
  padding: 0.5em 2.5em !important;
  border-radius: 100px;
  background-image: none;
  color: #fff;
}
.slider-infographic > div > .btn:hover {
  background-color: #f15a37;
}
#sidebar-wrapper {
  background-image: linear-gradient(81deg, #382604 1%, #654508 100%);
}
.sidebar-nav li.contracts a {
  background-image: url("/images/ic-folder.png") !important;
}
